{% extends 'generic/object_list.html' %}

{% block breadcrumbs %}
    <li><a href="{% url 'plugins:welcome_wizard:dashboard' %}">Dashboard</a></li>
    <li><a href="{% url 'plugins:welcome_wizard:devicetypes' %}">Import Device Types</a></li>
{% endblock breadcrumbs %}

{% block title %}Import Device Types{% endblock %}

{% block bulk_buttons %}
    <button type="submit" name="_import" formaction="{% url "plugins:welcome_wizard:devicetype_import" %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" class="btn btn-info btn-sm">
        <span class="mdi mdi-database-import-outline" aria-hidden="true"></span> Import Selected
    </button>
{% endblock %}