{% extends 'base.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}
{% load static %}
{% load tz %}

{% block header %}
    <div class="row noprint">
        <div class="col-sm-8 col-md-9">
            <ol class="breadcrumb">
                <li><a href="{% url 'plugins:welcome_wizard:dashboard' %}">Dashboard</a></li>
                <li><a href="{% url return_url %}">{{ breadcrumb_name }}</a></li>
                <li>{{ obj.name }}</li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h1>Would you like import {{ obj.name }}?</h1>
    <form action="{% url bulk_import_url %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-info btn-sm" type="submit">
            <span class="mdi mdi-database-import-outline" aria-hidden="true"></span> Import
        </button>
        <a href="{% url return_url %}" class="btn btn-default">Cancel</a>
    </form>
{% endblock %}