{% extends 'base.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}
{% load static %}
{% load tz %}

{% block header %}
    <div class="row noprint">
        <div class="col-sm-9">
            <ol class="breadcrumb">
                <li><a href="{% url 'plugins:welcome_wizard:dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'plugins:welcome_wizard:manufacturer' %}">Import Manufacturers</a></li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
<h1>{% block title %}Import Manufacturers{% endblock %}</h1>
<div class="row">
	<div class="col-md-9">
        {% include 'welcome_wizard/extra_actions.html' with bulk_import_url="plugins:welcome_wizard:manufacturer_import" %}
    </div>
	<div class="col-md-3 noprint">
		{% include 'inc/search_panel.html' %}
	</div>
</div>
{% endblock %}