{% extends 'base.html' %}
{% load buttons %}
{% load static %}
{% load helpers %}

{% block content %}

<h1>{% block title %}Merlin Import Dashboard{% endblock %}</h1>
<div class="row">
    <div class="col-md-9">
        <table class="table table-headings">
            <caption>Merlin Import status</caption>
            <tr>
                    <th><p style="font-size:20px">Section</p></th>
                    <th style="text-align:center"><p style="font-size:24px">Nautobot App</p></th>
                    <th style="text-align:center"><p style="font-size:24px">Completed?</p></th>
            </tr>
            {% for key, value in dashboard_data.items %}
                <tr>
                    <td>
                        <p style="font-size:16px">{{ key }}</a>
                    </td>
                    <td style="text-align:center">
                        <p style="font-size:14px">{{ value.nb_app }}</p>
                    </td>
                    <td style="text-align:center">
                        {% if value.exists %}
                            <a href="{% url value.next_url %}"><button class="btn btn-large"><span class="mdi mdi-checkbox-marked-outline"></span></button></a>
                        {% else %}
                            <a href="{% url value.next_url %}"><button class="btn btn-large"><span class="mdi mdi-checkbox-blank-outline"></span></button></a>
                            <a href="{% url value.wizard_url %}"><button class="btn btn-large"><span class="mdi mdi-wizard-hat"></span></button></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-4">
        <tr style="text-align:center">
            <h2>Legend</h2>
            <p style="font-size:18px"><button class="btn"><span class="mdi mdi-checkbox-marked-outline"></span></button> At least one item exists</p>
            <p style="font-size:18px"><button class="btn"><span class="mdi mdi-checkbox-blank-outline"></span></button> No items exist</p>
            <p style="font-size:18px"><button class="btn"><span class="mdi mdi-wizard-hat"></span></button> Navigate to Merlin Importer</p>
        </tr>
    </div>
</div>
{% endblock %}